:root {
    --white: #fff;
    --sage: #C1C181;
    --background: #D2D3D8;
    --banners: #9278DB;
}

* {
    box-sizing: border-box;
    /* color: var(--white);
    background-color: #080E24; */
}

header {
    display: flex;
    justify-content: space-between;
}

.aboutme {
    background-color: var(--sage);
}
.aboutme p {
    justify-content: right;
    margin-left: 100px;
}

.hero {
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1603531763662-109ff15864c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: top;
}

.projbox {
    display: inline-block ;
    flex: 1 0 0;
    height: 200px;
    width: 300px;
    border-style: solid;
}
